@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background-color: rgb(4, 8, 30);
    color:white;
    
    font-size: 20px;
}

input{
    color: white;
    margin-left: 8px;
    padding: 5px;
    height: 30px;
    border: none;
    outline: none;
    background-color: inherit;
    border-bottom: 2px solid lightblue;
}

 
label{
    padding:5px ;
}
 
 